.container{
   padding: 72px;
}
.heading{
   text-align: center;
   padding-bottom: 24px;
}
.flex-container{
   display: flex;
}
.pagination{
   text-align: right;
   margin-top: 24px
}
.products-list{
   flex: 4;
}
.filter-container{
   flex: 1;
}
.sub-heading{
   margin: 24px 0
}
.table-main{
   border-collapse: collapse;
    width: 100%;
}
.table-header{
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}
.table-cell{
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
}
.block1{
   padding-bottom: 1em
}
.tags-heading{
   margin-bottom: 8px
}
.list{
   list-style: none;
   padding-left: 8px;
    margin-top: 0
}
